@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 1%; /* Fondo negro */
    --foreground: 0 0% 100%; /* Texto blanco */

    --muted: 40 0% 50%; /* Negro */
    --muted-foreground: 0 0% 100%; /* Blanco */

    --primary: 0 0% 60%; /* Negro */
    --primary-foreground: 210 40% 98%; /* Blanco */

    --secondary: 215.4 16.3% 46.9%; /* Negro */
    --secondary-foreground: 0 0% 100%; /* Blanco */

    --border: 0 0% 90%; /* Negro */
    --input: 0 0% 100%; /* Negro */
    --ring: 0 0% 70%; /* Negro */

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border bg-background;
  }
  body {
    @apply bg-background text-foreground;
  }
}
